In [1]:
import pandas as pd
import numpy as np

In [42]:
train = pd.read_csv("C:/Users/eambr/Desktop/datafiles_lab3 (1)/train.csv")
test = pd.read_csv("C:/Users/eambr/Desktop/datafiles_lab3 (1)/test.csv")
train = pd.DataFrame(train)

In [5]:
train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
test.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.

In [49]:
train = pd.DataFrame(train)

train['education'] = train['education'].replace([' Preschool', ' HS-grad', ' Doctorate'], 
                                            ['kindergarten', 'high school', 'PhD'])
train['education'] = train['education'].replace([' Some-college', ' Assoc-voc', ' Assoc-acdm', ' Bachelors'], 'Bsc')
train['education'] = train['education'].replace([' Masters', ' Professional school'], 'Msc')
train['education'] = train['education'].replace([' 1st',' 2nd',' 3rd',' 4th',' 5th',' 6th',' 7th',' 8th'], 'elementary school')
train['education'] = train['education'].replace([' 9th',' 10th',' 11th',' 12th'], 'secondary school')
train

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bsc,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bsc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,high school,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,secondary school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bsc,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Bsc,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,high school,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,high school,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,high school,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,high school,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [50]:
train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bsc,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bsc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,high school,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,secondary school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bsc,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [51]:
nameOfSchools = {
    'kindergarten':'Megtestesülés Óvoda',
    'elementary school':'Petőfi Sándor Általános Iskola',
    'secondary school':'Mechwart András Technikum',
    'high school':'Kossuth Gimnázium',
    'Bsc':'Semmelveis Egyetem',
    'Msc':'Debreceni Egyetem',
    'PhD':'Pázmány Péter Tudományegyetem'
}

In [54]:
train['nameOfSchools'] = train['education'].map(nameOfSchools)
train

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target,nameOfSchools
0,39,State-gov,77516,Bsc,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Semmelveis Egyetem
1,50,Self-emp-not-inc,83311,Bsc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Semmelveis Egyetem
2,38,Private,215646,high school,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Kossuth Gimnázium
3,53,Private,234721,secondary school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Mechwart András Technikum
4,28,Private,338409,Bsc,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Semmelveis Egyetem
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Bsc,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Semmelveis Egyetem
32557,40,Private,154374,high school,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Kossuth Gimnázium
32558,58,Private,151910,high school,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Kossuth Gimnázium
32559,22,Private,201490,high school,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Kossuth Gimnázium
32560,52,Self-emp-inc,287927,high school,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Kossuth Gimnázium

In [55]:
nativeLanguage = {
    ' United-States' : 'English',
    ' Mexico' : 'Spanish',
    ' Philippines' : 'Filipino',
    ' Germany' : 'German',
    ' Canada' : 'English',
    ' Puerto-Rico' : 'Spanish',
    ' El-Salvador' : 'Spanish',
    ' India' : 'Hindi',
    ' Cuba' : 'Spanish',
    ' England' : 'English',
    ' Jamaica' : 'English',
    ' South' : 'Korean',
    ' China' : 'Chinese',
    ' Italy' : 'Italian',
    ' Dominican-Republic' : 'Spanish',
    ' Vietnam' : 'Vietnamese',
    ' Guatemala' : 'Spanish',
    ' Japan' : 'Japanese',
    ' Poland' : 'Polish',
    ' Columbia' : 'Spanish',
    ' Taiwan' : 'Chinese',
    ' Haiti' : 'French',
    ' Iran' : 'Arabic',
    ' Portugal' : 'Portuguese',
    ' Nicaragua' : 'Spanish',
    ' Peru' : 'Spanish',
    ' France' : 'French',
    ' Greece' : 'Greek',
    ' Ecuador' : 'Spanish',
    ' Ireland' : 'Irish',
    ' Hong' : 'Chinese',
    ' Cambodia' : 'Khmer',
    ' Trinadad&Tobago' : 'English',
    ' Laos' : 'Lao',
    ' Thailand' : 'Thai',
    ' Yugoslavia' : 'Slovenian',
    ' Outlying-US(Guam-USVI-etc)' : 'English',
    ' Honduras' : 'Spanish',
    ' Hungary' : 'Hungarian',
    ' Scotland' : 'English',
    ' Holand-Netherlands' : 'Dutch'
}

In [58]:
train['nativeLanguage'] = train['native.country'].map(nativeLanguage)
train

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target,nameOfSchools,native_language,nativeLanguage
0,39,State-gov,77516,Bsc,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Semmelveis Egyetem,English,English
1,50,Self-emp-not-inc,83311,Bsc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Semmelveis Egyetem,English,English
2,38,Private,215646,high school,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Kossuth Gimnázium,English,English
3,53,Private,234721,secondary school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Mechwart András Technikum,English,English
4,28,Private,338409,Bsc,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Semmelveis Egyetem,Spanish,Spanish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Bsc,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Semmelveis Egyetem,English,English
32557,40,Private,154374,high school,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Kossuth Gimnázium,English,English
32558,58,Private,151910,high school,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Kossuth Gimnázium,English,English
32559,22,Private,201490,high school,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Kossuth Gimnázium,English,English
32560,52,Self-emp-inc,287927,high school,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Kossuth Gimnázium,English,English

In [65]:
import random
languages = list(nativeLanguage.values())
train['learnedForeignLanguage'] = [random.choice(languages) for _ in range(len(train))]
levels = ['A','B','C']
subLevels = ['1','2']
train['levelOfSkill'] = [random.choice(levels)+random.choice(subLevels) for _ in range(len(train))]
train

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target,nameOfSchools,native_language,nativeLanguage,learnedForeignLanguage,levelOfSkill
0,39,State-gov,77516,Bsc,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Semmelveis Egyetem,English,English,French,C1
1,50,Self-emp-not-inc,83311,Bsc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Semmelveis Egyetem,English,English,English,A2
2,38,Private,215646,high school,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Kossuth Gimnázium,English,English,Greek,B1
3,53,Private,234721,secondary school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Mechwart András Technikum,English,English,Chinese,C2
4,28,Private,338409,Bsc,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Semmelveis Egyetem,Spanish,Spanish,English,B1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Bsc,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Semmelveis Egyetem,English,English,Spanish,C2
32557,40,Private,154374,high school,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Kossuth Gimnázium,English,English,Spanish,A1
32558,58,Private,151910,high school,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Kossuth Gimnázium,English,English,Hindi,C2
32559,22,Private,201490,high school,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Kossuth Gimnázium,English,English,Vietnamese,C2
32560,52,Self-emp-inc,287927,high school,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Kossuth Gimnázium,English,English,English,C1

In [66]:
train.fillna(np.nan)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target,nameOfSchools,native_language,nativeLanguage,learnedForeignLanguage,levelOfSkill
0,39,State-gov,77516,Bsc,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Semmelveis Egyetem,English,English,French,C1
1,50,Self-emp-not-inc,83311,Bsc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Semmelveis Egyetem,English,English,English,A2
2,38,Private,215646,high school,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Kossuth Gimnázium,English,English,Greek,B1
3,53,Private,234721,secondary school,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Mechwart András Technikum,English,English,Chinese,C2
4,28,Private,338409,Bsc,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Semmelveis Egyetem,Spanish,Spanish,English,B1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Bsc,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Semmelveis Egyetem,English,English,Spanish,C2
32557,40,Private,154374,high school,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Kossuth Gimnázium,English,English,Spanish,A1
32558,58,Private,151910,high school,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Kossuth Gimnázium,English,English,Hindi,C2
32559,22,Private,201490,high school,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Kossuth Gimnázium,English,English,Vietnamese,C2
32560,52,Self-emp-inc,287927,high school,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Kossuth Gimnázium,English,English,English,C1

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
y = train['target']
X = train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,
random_state = 1, stratify = y)
clf = RandomForestClassifier(n_estimators = 500, max_depth = 6)
clf.fit(X_train, y_train)
prediction = clf.predict(X_test)
from sklearn.metrics import accuracy_score
acc = accuracy_score(np.array(y_test), prediction)
acc

ValueError: could not convert string to float: ' Federal-gov'